<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<h1>My books</h1>

	<tr th:each="book : ${booklist}">
		<td th:text="'Title: ' + ${book.title}"></td>
		</br>
		<td th:text="'Author: ' + ${book.author}"></td>
		</br>
		<td th:text="'Year: ' + ${book.year}"></td>
		</br>
		<td th:text="'ISBN: ' + ${book.isbn}"></td>
		</br>
		<td th:text="'Price: ' + ${book.price}+ '€'"></td>
		</br>
	</tr>

	<form method="post" action="#" th:action=@{/index} th:object=${book}>
		<h2>Add new book to list</h2>
		<label>Title:</label> <input type="text" th:field=${book.title}
			name="title" /> <label>Author:</label> <input type="text"
			th:field=${book.author} name="author" /> <label>Year:</label> <input
			type="number" th:field=${book.year} name="year" /> <label>ISBN:</label>
		<input type="number" th:field=${book.isbn} name="isbn" /> <label>Price:</label>
		<input type="number" th:field=${book.price} name="price" />
		 <input
			type="submit" value="Submit" />
	</form>
</body>
</html>